{:deps
 {org.clojure/spec.alpha {:mvn/version "0.1.143"}
  org.clojure/test.check {:mvn/version "0.9.0"}
  hiccup {:mvn/version "2.0.0-alpha1"}
  ring {:mvn/version "1.7.0-RC1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "5fb4fc46ad0bf2e0ce45eba5b9117a2e89166479"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
